<header id="top">
    <div class="wrapper">
            <h1 class="logo"><a href="/">advantage<strong>love</strong> <small>foundation</small></a></h1>
            <nav>
                    <ul id="navigation">
                            <li><a href="/calendar">Events</a></li>
                            <li><a href="mailto:scott.kacyn@gmail.com">Contact</a></li>
                    </ul>
            </nav>
    </div>
</header>
