<div id="banner">
        <div class="wrapper">
                <h2>Advantage Love creates programs to unite and support children who have lost their parents to cancer.</h2><!--Adjust font-size in css if required here-->
                <a href="https://www.networkforgood.org/donation/ExpressDonation.aspx?ORGID2=26-4672595" target="_blank" class="button-1">Donate Now</a>
        </div>
</div>

<!--<div class="wrapper"><a name="portfolio"></a>

                <ul class="filter group"> 
                        <li class="current all"><a href="#">All</a></li> 
                        <li class="cat-1"><a href="#">Category 1</a></li> 
                        <li class="cat-2"><a href="#">Category 2</a></li> 
                        <li class="cat-3"><a href="#">Category 3</a></li> 
                </ul><div class="clear"></div>                  
        
                <ul class="portfolio group"> 
                        <li class="item" data-id="id-1" data-type="cat-1">
                                <img src="img/project-1.jpg" width="300" height="225" alt="" />
                                <a href="img/project-1.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor turpis.</p><span class="date">12 November 2013</span> 
                                </a>
                        </li> 
                        <li class="item" data-id="id-2" data-type="cat-1">
                                <img src="img/project-2.jpg" width="300" height="225" alt="" />
                                <a href="img/project-2.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor turpis.</p><span class="date">12 November 2013</span> 
                                </a>
                        </li>
                        <li class="item" data-id="id-3" data-type="cat-2">
                                <img src="img/project-3.jpg" width="300" height="225" alt="" />
                                <a href="img/project-3.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor turpis.</p><span class="date">12 November 2013</span> 
                                </a>
                        </li>
                        <li class="item" data-id="id-4" data-type="cat-3">
                                <img src="img/project-4.jpg" width="300" height="225" alt="" />
                                <a href="img/project-4.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor turpis.</p><span class="date">12 November 2013</span> 
                                </a>
                        </li>
                        <li class="item" data-id="id-5" data-type="cat-1">
                                <img src="img/project-5.jpg" width="300" height="225" alt="" />
                                <a href="img/project-5.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor turpis.</p><span class="date">12 November 2013</span> 
                                </a>
                        </li>
                        <li class="item" data-id="id-6" data-type="cat-3">
                                <img src="img/project-6.jpg" width="300" height="225" alt="" />
                                <a href="img/project-6.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor turpis.</p><span class="date">12 November 2013</span> 
                                </a>
                        </li>
                        <li class="item" data-id="id-7" data-type="cat-2">
                                <img src="img/project-7.jpg" width="300" height="225" alt="" />
                                <a href="img/project-7.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor turpis.</p><span class="date">12 November 2013</span> 
                                </a>
                        </li>
                        <li class="item" data-id="id-8" data-type="cat-2">
                                <img src="img/project-8.jpg" width="300" height="225" alt="" />
                                <a href="img/project-8.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor turpis.</p><span class="date">12 November 2013</span> 
                                </a>
                        </li>
                        <li class="item" data-id="id-9" data-type="cat-1">
                                <img src="img/project-9.jpg" width="300" height="225" alt="" />
                                <a href="img/project-9.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                        <p>Consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor turpis.</p><span class="date">12 November 2013</span> 
                                </a>
                        </li><div class="clear"></div>  
                </ul>
        </div>
        
        <div class="about"><a name="about"></a>
                <div class="wrapper">
                        <ul>
                                <li>
                                        <img src="img/team-1.png" alt="" />
                                        <h3>John Doe</h3>
                                        <p class="job-role">Lead Designer</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor integrer turpis.</p>
                                        <p>Phasellus erat arcu, ullamcorper sit amet nunc nec, tempor dignissim dui.</p>
                                </li>
                                <li>
                                        <img src="img/team-2.png" alt="" />
                                        <h3>Jane Smith</h3>
                                        <p class="job-role">Art Director</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor integrer turpis.</p>
                                        <p>Phasellus erat arcu, ullamcorper sit amet nunc nec, tempor dignissim dui.</p>
                                </li>
                                <li>
                                        <img src="img/team-3.png" alt="" />
                                        <h3>Allen Davis</h3>
                                        <p class="job-role">Team Manager</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies quam felis. Aenean non sodales lectus. Phasellus justo nibh, convallis vitae dui sed, tincidunt auctor integrer turpis.</p>
                                        <p>Phasellus erat arcu, ullamcorper sit amet nunc nec, tempor dignissim dui.</p>
                                </li><div class="clear"></div>
                        </ul>
                </div>
        </div>-->
        
        <div class="blurb">
                <div class="wrapper">
                        <h4>Upcoming Event! Please join us at the <a href="https://www.facebook.com/events/221703268009250/" target="_blank">Advantage Love Benefit Concert</a> January 12, 2014 at Hideout Inn in Chicago</h4>
                        <a href="https://www.facebook.com/events/221703268009250/" target="_blank" class="button-2">More Info</a>
                </div>
        </div>
        
        <footer>
                <div class="wrapper">
                        <p>Connect with us: <a href="https://www.facebook.com/advantagelove">Facebook</a> | <a href="https://twitter.com/advantagelove">Twitter</a> | <a href="mailto:scott.kacyn@gmail.com">Email</a></p>
                        <p><small>Copyright © 2014 Advantage Love Foundation, LLC. All rights reserved.</small></p>
                </div>
        </footer>
        
        <a href="#" class="back-to-top"><img src="img/arrow-up.svg" /></a>
